<div class="container">
<div class="dropdown">
  <label for="dropdownButton" id="choosedataset"  class="lead selector-label">Choose the desired dataset:<span class="gap"></span></label>
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownButton"
      data-bs-toggle="dropdown" aria-expanded="false">
      {{dataset}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownButton">
      <li><a class="dropdown-item" id="1" (click)="getDS(1)">First Dataset</a></li>
      <li><a class="dropdown-item" id="2" (click)="getDS(2)">Second Dataset</a></li>
      <li><a class="dropdown-item" id="3" (click)="getDS(3)">Empty Dataset</a></li>
      <li><a class="dropdown-item" id="4" (click)="getDS(4)">Fourth Dataset</a></li>
  </ul>
  <button *ngIf="data.length > 0" class="btn" id="downloadbtn" (click)="export()"><i class="fa fa-download"></i>Export Workbook </button>
</div>
<br><br>
<div class="emptywarning" *ngIf="(data?.length == 0)">
  Please select a non empty dataset.
</div>
<div *ngIf="!(data?.length == 0)">
  <table class="table" *ngFor="let groupItem of data">
    <thead>
      <tr>
        <th id="headline" colspan="4"  class="text-center">{{groupItem.group}}</th>
      </tr>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of groupItem.studentsList">
        <th>{{student.Id}}</th>
        <td>{{student.Name}}</td>
        <td>{{student.Phone}}</td>
        <td>{{student.Email}}</td>
      </tr>
    </tbody>
</table>
</div>
</div>

<p-toast position="top-right"></p-toast>
